body {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 50px;
}

.buttons .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 350px;
    font-size: 4rem;

    border: 5px solid black;
    border-radius: 12px;

    text-decoration: none;
    color: black;
    background-color: lightgray;

    cursor: pointer;
}

.buttons .home-btn:hover {
    background-color: darkgray;
}

nav ul {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    background-color: darkgray;
    border-radius: 12px;
    padding: 20px;
    margin: 0;
}

nav li {
    list-style-type: none;
    background-color: white;
    border-radius: 6px;
    font-size: 1.5rem;
    border: 3px solid lightgray;
}

nav a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 1rem;
}

nav li:hover{
    background-color: black;
}

nav li:hover a{
    color:white;
}

.selected {
    font-weight: bold;
    border: 5px solid gray;
}

.selected a {
    color: black;
}

.selected:hover{
    background-color: white;
}

.selected:hover a{
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    gap: 80px;
}
